<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Quản lý tài khoản</title>
    <style>
        #imglogo{
            width: 50%;
            height: 50%;
            margin-left: 3%
        }
        nav{
            background-color: #005baa;
        }
        .nav-link{
            color: white;
        }
        a{
            text-decoration: none;
        }
        .body{
            border: 1px solid;
            padding: 15px;
            border-radius: 25%;
            background-color: white;
        }
        body, footer{
            background-color: #005baa;
        }
        .form-group, .form-check{
            margin: auto;
            margin-top: 5px;
        }
        .add{
            width: 25%;
        }
    </style>
	<script>
        $(document).ready(function(){
            $("#header").load("./header.html");
        });
        function checkAdd(){
            if($("#username").val() === "" || $("#fullname").val() === "" || $("#password").val() === "" || $("#repassword").val() === "" || ($("#hs").is(":not(:checked)") && $("#gv").is(":not(:checked)"))){
                $("#addMessage").html("Phải điền đầy đủ thông tin");
                event.preventDefault();
            }
            if($("#password").val() != $("#repassword").val()){
                $("#addMessage").html("Xác nhận mật khẩu không chính xác");
                event.preventDefault();
            }
        }
        
        function editform(id){
			let name = document.getElementById(id).getAttribute("data-name");
			let username = document.getElementById(id).getAttribute("data-username");
			let chucvu = document.getElementById(id).getAttribute("data-chucvu");
			
			if(chucvu === "Giảng viên"){
				$('#edhs').attr('checked', false);
				$('#edgv').attr('checked', true);
			}else if(chucvu === "Học sinh"){
				$('#edgv').attr('checked', false);
				$('#edhs').attr('checked', true);
			}else{
				$('#edgv').attr('checked', false);
				$('#edhs').attr('checked', false);
			}
				
			$("#edid").val(id)
            $("#edname").val(name)
            $("#edusername").val(username)
		}
		
		function checkEdit(){
			if($("#edname").val() === "" ||  ($("#edhs").is(":not(:checked)") && $("#edgv").is(":not(:checked)"))){
                $("#edMessage").html("Phải điền đầy đủ thông tin");
                event.preventDefault();
            }
		}
    </script>
</head>
<body>
	<div id="header"></div>
    <div class="container mt-5 body">
        <div class="row mb-3 justify-content-center">
            <button type="button" class="btn btn-success add" data-bs-toggle="modal" data-bs-target="#dathang">Tạo tài khoản</button>
            <div class="modal fade" id="dathang" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-center text-secondary mt-5 mb-3">Tạo tài khoản</h3>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <form class=" w-100 mb-5 mx-auto px-3 pt-3 " action="#" th:action="@{/admin/saveaccount}" th:object="${taikhoan}" method="post">
                                <div class="form-group">
                                    <label for="username">Tài khoản</label>
                                    <input id="username" type="text" class="form-control" placeholder="Nhập tài khoản" th:field="*{username}">
                                </div>
                                <div class="form-group">
                                    <label for="fullname">Họ và tên</label>
                                    <input id="fullname" type="text" class="form-control" placeholder="Nhập họ tên" th:field="*{name}">
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="chucvu" type="radio" value="Giảng viên" id="gv" th:field="*{chucvu}">
                                    <label class="form-check-label" for="gv">
                                        Giảng viên
                                    </label> <br>
                                    <input class="form-check-input" name="chucvu" type="radio" value="Học sinh" id="hs" th:field="*{chucvu}">
                                    <label class="form-check-label" for="hs">
                                        Học sinh
                                    </label>
                                </div>
                                <div class="form-group">
                                    <label for="password">Mật khẩu</label>
                                    <input id="password" type="password" class="form-control" placeholder="Nhập mật khẩu" th:field="*{password}">
                                </div>
                                <div class="form-group">
                                    <label for="password">Nhập lại mật khẩu</label>
                                    <input id="repassword" type="password" class="form-control" placeholder="Nhập lại mật khẩu" name="repassword">
                                </div>
                                <div class="form-group mt-3">
                                    <button class="btn btn-success px-5" onclick="checkAdd()">Tạo</button>
                                </div>
                                <p class="text-danger" id="addMessage"></p>
                            </form>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
        <p class="text-danger text-center" th:text="${message}"></p>
        <div class="row justify-content-center">
            <div class="col-8 px-4">
				<div class="border rounded p-3 bg-light">
					<h4 class="text-success">Quản lý tài khoản</h4>
					<table class="table">
					  <thead>
					    <tr>
					      <th scope="col">STT</th>
					      <th scope="col">Username</th>
					      <th scope="col">Họ và tên</th>
					      <th scope="col">Chức vụ</th>
					      <th scope="col">Thao tác</th>
					    </tr>
					  </thead>
					  
					  <tbody>
							<tr th:each="user,state : ${listUser}">
				            	<td th:text="${state.count}"></td>
				                <td th:text="${user.username}"></td>
				                <td th:text="${user.name}"></td>
				                <td th:text="${user.chucvu}"></td>
				                <td>
				                	<a th:id="${user.id}" th:data-username="${user.username}" th:data-name="${user.name}" th:data-chucvu="${user.chucvu}" data-bs-toggle="modal" data-bs-target="#editform" onclick="editform(id)">Edit</a>
				                	&nbsp;&nbsp;&nbsp;
				                	<a th:href="@{'/admin/deleteAccount/' + ${user.id}}" th:onclick = "return confirm('Bạn có chắc muốn xóa ?')">Delete</a>
				                </td>
			            	</tr>
					  </tbody>
					</table>
				</div>
			</div>
        </div>
    </div>
    
    <div class="row mb-3 justify-content-center">
        <div class="modal fade" id="editform" tabindex="-1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="text-center text-secondary mt-5 mb-3">Sửa thông tin</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form class=" w-100 mb-5 mx-auto px-3 pt-3 " th:action="@{/admin/updateAccount}" th:object="${taikhoan}" method="post">
	                        <div class="form-group">
	                           	<label for="edid">Mã tài khoản</label>
	                            <input id="edid" type="text" class="form-control" name="edid" readonly th:field="*{id}">
	                        </div>
	                        <div class="form-group">
	                           	<label for="edusername">Tên tài khoản</label>
	                            <input id="edusername" type="text" class="form-control" name="edusername" readonly th:field="*{username}">
	                        </div>
                            <div class="form-group">
                                <label for="edname">Họ và tên</label>
                                <input id="edname" type="text" class="form-control" name="edname" th:field="*{name}">
                            </div>
                            <div class="form-check">
                                    <input class="form-check-input" name="edchucvu" type="radio" value="Giảng viên" id="edgv" th:field="*{chucvu}">
                                    <label class="form-check-label" for="gv">
                                        Giảng viên
                                    </label> <br>
                                    <input class="form-check-input" name="edchucvu" type="radio" value="Học sinh" id="edhs" th:field="*{chucvu}">
                                    <label class="form-check-label" for="hs">
                                        Học sinh
                                    </label>
                                </div>
                            <div class="form-group mt-3">
                                <button class="btn btn-success px-5" onclick="checkEdit()">Lưu</button>
                            </div>
                            <p id="edMessage" class="text-danger"></p>
                        </form>
                    </div>    
                </div>
            </div>
        </div>
    </div>
    
    <hr size="10">
    <div class="container-fluit">
        <div class="row mt-3">
            <div class="footer d-flex justify-content-center p-5">
                <span style="color: white;">Copyright ©2020 Đại học Tôn Đức Thắng</span> 
            </div>
        </div>
    </div>
</body>
</html>